a {
    color: #fff;
}

#login .ant-form {
    width: 100%;
}
#login .ant-form-item {
    width: 100%;
}

#login .ant-form-item-control-input {
    overflow: hidden;
}

#login .ant-form-item-control-input-content {
    height: 56px;
    border-radius: 8px;
    overflow: hidden;
}

#login .ant-input {
    height: 100%;
    border-radius: 8px;
}

#login .ant-btn {
    width: 100%;
    height: 100%;
}
