@import '~antd/dist/antd.css';
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
        'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.ant-table-thead > tr > th {
    width: 56px;
    height: 20px;
    color: rgb(121, 135, 156);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: normal;
    background: #fff;
    box-shadow: 0px 4px 8px 2px rgba(40, 47, 55, 0.03);
}
.ant-table-thead
    > tr
    > th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
    background-color: transparent;
    width: 0px;
    height: 0px;
}

.ant-table-tbody {
    border-collapse: 0 10px;
}

.ant-table-tbody > tr:hover:not(.ant-table-expanded-row) > td,
.ant-table-row-hover,
.ant-table-row-hover > td {
    background: #f3f6fa;
    box-shadow: inset 0px -1px 0px 0px rgb(243, 246, 250);
}
.ant-table-fixed .ant-table-row-hover,
.ant-table-row-hover > td {
    background: #f3f6fa;
}

.ant-table-tbody > tr > td {
    border: none;
    box-shadow: inset 0px -1px 0px 0px rgb(243, 246, 250);
}

.ant-pagination-disabled .ant-pagination-item-link,
.ant-pagination-disabled:hover .ant-pagination-item-link,
.ant-pagination-disabled:focus-visible .ant-pagination-item-link {
    border: none;
}

.ant-pagination-prev .ant-pagination-item-link,
.ant-pagination-next .ant-pagination-item-link {
    border: none;
}

.ant-pagination-item {
    border: none;
    background-color: #eff4f9;
    color: #36435c;
}

.ant-pagination-item-active {
    background: rgb(0, 128, 255);
    color: #fff !important;
}

.ant-pagination-item-active a {
    color: #fff !important;
}

.ant-pagination-total-text {
    color: #79879c;
}

.ant-table-tbody > tr > td {
    word-wrap: break-word;
    word-break: break-all;
}

.ant-modal-title {
    color: rgb(44, 66, 93);
    font-family: PingFangSC-Semibold;
    font-size: 18px;
    font-weight: 600;
    height: 24px;
    line-height: 24px;
}

.ant-modal-content {
    border-radius: 4px;
    box-shadow: 0px 8px 20px 0px rgba(54, 67, 92, 0.2);
}

.ant-modal-header {
    border-bottom: 0px;
}

.ant-switch-checked {
    background: #0080ff !important;
}
.ant-switch {
    background: #dee8f1;
}

.ant-btn {
    color: #202d40;
}

.ant-btn-primary {
    color: #fff !important;
}

.ant-table-tbody > tr > td {
    color: #36435c;
}

/* .ant-pagination-item {
    width: 26px;
    height: 26px;
    min-width: 26px;
    line-height: 26px;
} */

.ant-popover-inner-content {
    padding: 4px 0;
}
